@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    /* max-width: 1440px; */
    margin: 0 auto;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styles Start */
.bg-primary{
    background: rgb(230, 83, 60);
    width: 92px;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.bg-secondary{
    background: rgba(185, 185, 185, 0);
}
.btn-primary{
    background: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
/* Header Styles Start */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(8, 3, 3, 0.993) 100%);
}
/* header{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    
} */
/* Navbar Styles Start */
.navbar-main{
    max-width: 1060px;
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
.nav-title{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.nav-items{
    display: flex;
    gap: 50px;
}
.item{
    list-style: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.hamburger-icon{
    color: white;
    display: none;
}
.home{
    background: rgb(230, 83, 60);
    width: 80px;
    height: 25px;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-weight: 600px;
    text-align: center;
}
/* Banner Section Styles Start */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 200px;
}
.banner-content{
    max-width: 520px;
}
.banner-title{
    font-size: 4.8rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.shape{
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    font-family: "Great Vibes", cursive;
    font-size: 4.5rem;
    font-weight: 400;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
}
.btn-download{
    background: rgba(0, 0, 0, 0.644);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
}
.banner-img{
    margin-right: 80px;
}
 /* Media Query for small device */
 @media screen and (max-width: 576px) {
    .hamburger-icon{
        display: block;
        color: black;
    }
    .nav-items{
        display: none;
    }
    /* .nav-title{
        margin-right: 250px;
    } */
    .navbar-main{
        flex-direction: column;
        padding-top: 30px;
    }
    .navbar-main{
        flex-direction: row;
    }
    .banner-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .banner-description{
        width: 70%;
    }
    .banner-img{
        width: 100%;
    }
    .banner-title{
        margin-left: 0;
    }
    .banner-container{
        margin-left: 10px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .shape{
        font-size: 2rem;
    }
    .btn-primary,
    .btn-download{
        width: 170px;
        height: 54px;
        margin-left: 5px;
    }
 }